{
  "extends": "airbnb",
  "rules": {
    "jsx-quotes": ["error", "prefer-single"],
    "max-len": ["error", 120],
    "padded-blocks": ["error", { "classes": "always" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
