@mixin vertical-centre($height) {
  height: $height;
  line-height: $height !important;
  display: inline-block;
  vertical-align: middle;
}

@mixin border-box() {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

$border-colour: #CCC;

.calendar {
  float: left;
  display: block;
  @include border-box();
  background: white;
  width: 300px;
  border: solid 1px $border-colour;
  margin-bottom: 10px;

  $secondary-colour: #2875C7;
  $spacing: 10px;
  $icon-width: 40px;
  $header-height: 40px;

  > div.header {
    float: left;
    width: 100%;
    background: $secondary-colour;
    height: $header-height;
    color: white;

    > * {
      @include vertical-centre($header-height);
    }

    > i {
      float: left;
      width: $icon-width;
      font-size: 1.125em;
      font-weight: bold;
      position: relative;
      @include border-box();
      padding: 0 $spacing;
      cursor: pointer;
    }

    > i.fa-angle-left {
      text-align: left;
    }

    > i.fa-angle-right {
      text-align: right;
      margin-left: $icon-width * (-1);
    }

    > span {
      float: left;
      width: 100%;
      font-weight: bold;
      text-transform: uppercase;
      @include border-box();
      padding-left: $icon-width + $spacing;
      margin-left: $icon-width * (-1);
      text-align: center;
      padding-right: $icon-width;
      color: inherit;
    }
  }

  > div.week {
    float: left;
    width: 100%;
    border-top: solid 1px $border-colour;

    &:first-child {
      border-top: none;
    }

    > span.day {
      float: left;
      width: (100% / 7);
      @include border-box();
      border-right: solid 1px $border-colour;
      font-size: 0.75em;
      text-align: center;
      @include vertical-centre(30px);
      background: transparent;
      cursor: pointer;
      color: black;

      &:last-child {
        border-right: none;
      }

      &.today {
        background: #E3F2FF;
      }

      &.different-month {
        color: #C0C0C0;
      }

      &.selected {
        background: $secondary-colour;
        color: white;
      }

      &.booked {
        background: transparent;
        color: white;
        position: relative;
        z-index: 1;
        border-right: none;

        &:before {
          background-color: red;
          content: '';
          width: 100%;
          height: 100%;
          top: 0;
          left: 13%;
          position: absolute;
          z-index: -1;
          -webkit-transform: skew(-18deg);
          -moz-transform: skew(-18deg);
          -o-transform: skew(-18deg);
        }
      }
    }

    &.names > span {
      color: $secondary-colour;
      font-weight: bold;
    }
  }
}

#parallelogram {
  width: 150px;
  height: 100px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: red;
}
